<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="uk.co.workingedge.phonegap.example.launchnavigator"
        version="3.0.0">

    <name>Launch Navigator Simple Example</name>
    <description>
        Sample application that illustrates basic usage of the LaunchNavigator plugin
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>

    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" />

    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="target-device" value="universal" />
    </platform>


    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="3" />


    <access origin="*" />
</widget>
