<?xml version='1.0' encoding='utf-8'?>
<widget id="workingedge.example.launchnavigator.simple" version="5.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Launch Navigator Simple Example</name>
    <description>
        Sample application that illustrates basic usage of the LaunchNavigator plugin
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <!-- Build with SDK: Android 12 -->
        <preference name="android-targetSdkVersion" value="32" />
    </platform>
    <platform name="ios">
    </platform>

</widget>
