<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.workingedge.phonegap.example.launchnavigator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LaunchNavigatorExample</name>
    <description>
        Sample application that illustrates how to use the LaunchNavigator plugin
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="default" />

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />

    <!-- Windows -->
    <preference name="target-device" value="universal" />

    <!-- iOS -->
    <preference name="ios-statusbarstyle" value="black-opaque" />


    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="3"/>
    <plugin name="cordova-plugin-geolocation" spec="1"/>
    <plugin name="cordova-plugin-device" spec="1"/>
    <plugin name="cordova-plugin-dialogs" spec="1"/>

    <access origin="*" />
</widget>
