<?xml version='1.0' encoding='utf-8'?>
<widget id="workingedge.example.launchnavigator.simple" version="4.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Launch Navigator Simple Example</name>
    <description>
        Sample application that illustrates basic usage of the LaunchNavigator plugin
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <access origin="*" />

    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" />

    <preference name="phonegap-version" value="cli-7.1.0" />
    
    <plugin name="cordova-plugin-dialogs" spec="1" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="4"/>

	<engine name="windows" spec="latest" />
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="target-device" value="universal" />
        <preference name="Windows.Universal-MinVersion" value="10.0.0.0" />
    </platform>

	<engine name="android" spec="latest" />
    <platform name="android">
    </platform>
    
    <engine name="ios" spec="latest" />
    <platform name="ios">
    </platform>
    
</widget>
