<?xml version='1.0' encoding='utf-8'?>
<widget id="workingedge.example.launchnavigator.advanced" version="5.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Launch Navigator Advanced Example</name>
    <description>
        Sample application that illustrates advanced usage of the LaunchNavigator plugin
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" />
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="target-device" value="universal" />
        <preference name="Windows.Universal-MinVersion" value="10.0.0.0" />
    </platform>
    <access origin="*" />
    <engine name="android" spec="latest" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-device" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="1" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="file:///projects/phonegap-launch-navigator">
        <variable name="LOCATION_USAGE_DESCRIPTION" value="This app requires access to your location for navigation purposes" />
    </plugin>
</widget>
