.example{
    border: #000 solid 1px;
    padding: 10px;
    margin-top: 20px;
}

.example button{
    padding: 10px;
}

.windows-only,
.ios-only,
.android-only{
    display: none;
}

body.windows .windows-only,
body.ios .ios-only,
body.android .android-only{
    display: block !important;
}
